// Sizes
$max-width: {{ .Param "style.pageWidth" | default "100%;" }};

// Colors
$black: {{ .Param "style.colorBlack" | default "#222222" }};
$red: {{ .Param "style.colorRed" | default "#dc0045" }};
$white: {{ .Param "style.colorWhite" | default "#f8f8f8" }};
$green: {{ .Param "style.colorGreen" | default "#00f000" }};

// Font
$font-family: {{ .Param "style.fontFamily" | default "Inconsolata" }};
$font-size: {{ .Param "style.fontSize" | default "18" }};

// Margins
$y-small: 0rem;
$y-medium: 2rem;



// Placeholders
%link-default {
    color: $white;
    text-decoration: none;


    border-bottom:2px solid $white;
    & * {
        color: $white;
    }
    &:hover {
        color: $green;
        text-decoration: none;
    }

}
%link-dark {
    color: $white;
    text-decoration: none;
    & * {
        color: $white;
    }
    &:hover {
        color: $green;
        text-decoration: underline;
    }
}
%table-cell {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    text-align: left;
}


// Style
* {
    color: $white;
    background: $black;
    font-family: $font-family;
	word-break: break-word;
}
body {
    padding:2em;
    font-size: $font-size
}

.container {
    width: $max-width;
	margin: auto;
}


// @media (max-width: $max-width){
//     body{

//     // margin-left:0.5em;
//     // margin-top:0.5em;
//     // margin-right:0.5em;
//     padding:0.5em;
//     }
// }

// title
.navbar-brand {
    @extend %link-dark;
    font-size: 2 * $font-size;
}

.nav-link {
    @extend %link-default;
    font-size: $font-size;
}
#content {
        margin: auto;
        max-width:  $max-width;

    *{
        line-height: 2.2ch;

    }
    a {
        @extend %link-default;

    }
    p {
        margin-bottom: $y-small;
    }
    @for $i from 1 through 6 {
        h#{$i} {
            font-size: $font-size + 10 * (4 - $i);
        }
    }

    img {
        display: block;
        margin: $y-medium auto;
        max-width: 100%;
    }

    li{
        margin: 16px 0;
        margin-left: 4ch;
        }

    ol {
        counter-reset: list;
        list-style: none;
        padding-left: 2rem;
        & > li:before {
            content: "[" counter(list, decimal) "] ";
            counter-increment: list;
        }
    }
    .container > ol, .footnotes > ol {
        padding-left: 0;
    }
    ul {
        list-style: inside;
        padding-left: 2rem;
    }
    .container > ul, .footnotes > ul {
        padding-left: 0;
    }
    table {
        margin: $y-medium auto;
        // width: 100%;
        & th {
            @extend %table-cell;
            font-weight: bold;
        }
        & td {
            @extend %table-cell;
        }
        & tr:nth-child(2n) {
            background-color: $black;
        }
    }
    blockquote {
        border-left: 4px solid;
        font-style: italic;
        margin: $y-small 0;
        padding: 8px 8px;
    }
    code {
        color: $white;
        background-color: $black;
        border: 1px solid #cccccc;
        border-radius: 0%;
        padding: 0px 4px;
        overflow: auto;
    }
    pre code {
        all: unset;
    }
    .highlight {
        margin: $y-medium auto;
        & > pre {
            padding: 8px 8px;
        }
    }
}
#footer {
    a {
        @extend %link-dark;
    }
}

