{{ define "main" }}
    <div style="text-align: center;">Newest Post: {{ range ( where .Site.RegularPages "Type" "blog" | first 1 ) }} <a href="{{ .Permalink }}">{{ .Title }}</a> {{end}}</div>
    <div class="homepage-content">
        {{ .Content }}
    </div>

    <hr>

    <div class="articles h-feed">
        {{ $pages := where (where site.RegularPages "Type" "in" site.Params.mainSections) "Params.hidden" "!=" true }}
        {{ range (.Paginate $pages).Pages }}
            {{ partial "post-summary.html" . }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </div>

{{ end }}
